{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        http-kit/http-kit {:mvn/version "2.8.1"}
        dev.data-star.clojure/sdk {:mvn/version "1.0.0-RC8"}
        dev.data-star.clojure/http-kit {:mvn/version "1.0.0-RC8"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}}}
